@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

body {
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    background-color: #1b1b1b;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.score h4 {
    margin: 10px 30px 0 0;
    text-transform: uppercase;
}

.score .lifes {
    color: red;
}

.score .starsScore {
    color: yellow;
}

.score .blueGemScore {
    color: blue;
}

.score .greenGemScore {
    color: green;
}

.score .orangeGemScore {
    color: orange;
}

#modal {
    position: absolute;
    top: 20vh;
    padding: 0 0 20px 0;
}

#modal h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    padding: 0 15px;
}

.rules {
    margin-top: 0;
    margin-bottom: 5px;
}

.scoreHistory {
    display: none;
    flex-direction: column;
    padding: 10px 105px;
    margin-top: 25px;
    background-color: #5d8aab;
}

.scoreHistory p:first-of-type {
    margin: 0 20px 10px 0;
    float: left;
}

.highScore {
    margin-left: 40px;
}

.btn {
    appearance: none;
    cursor: pointer;
    padding: 20px 30px;
    margin-top: 20px;
    border: none;
    background-color: #29cc29;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 0 5px 1px #4c4b4b;
}

.btn:hover {
    color: #fff;

}
