body {
    text-align: center;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal {
    position: absolute;
    top: 25vh;
}

#modal h3 {
    font-size: 2rem;
}

.btn {
    appearance: none;
    cursor: pointer;
    padding: 20px 30px;
}
