body {
    text-align: center;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    display: flex;
    justify-content: center;
}

.score .lifes {
    margin-right: 30px;
}

#modal {
    position: absolute;
    top: 25vh;
}

#modal h3 {
    font-size: 2rem;
}

.scoreHistory {
    display: none;
    flex-direction: column;
}

.scoreHistory p:first-of-type {
    margin: 0;
}

.btn {
    appearance: none;
    cursor: pointer;
    padding: 20px 30px;
}
